body {
    margin: 0;
    padding: 0;
    background: #fd5e4d;
}

.coral-cam-title-container {
    white-space: nowrap;
    height: 45px;
    width: 1280px;
    background: #fdfdfe;
}

.coral-cam-title {
    line-height: 45px;
    font-size: 30px;
    display: inline-block;
    color: #fd5e4d;
    padding-left: 10px;
}

.settings-button {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}


#coral-cam-video-feed {
    width: 1278px;
    height: 718px;
    border: 1px solid #fd5e4d;
}

.setting-menu {
    width: 1280px;
    height: 80px;
    background: #fdfdfe;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

#inference-submit-button {
    margin-left: 10px;
    height: 20px;
    width: 75px;
    background: #fd5e4d;
    text-align: center;
    color: #ffffff;
}

#inference-submit-button:hover {
    background: #fd854a;
    color: #ffffff;
}