body {
    margin: 0;
    padding: 0;
    background-color: #fd5e4d;
    color: #fd5e4d;
}

.main-container {
    width: 1278px;
    border: 1px solid #53bfc1;
}

.coral-cam-title-container {
    white-space: nowrap;
    height: 45px;
    width: 1278px;
    background: #fd5e4d;
    border-bottom: 1px solid #53bfc1;
}

.coral-cam-title {
    line-height: 45px;
    font-size: 30px;
    display: inline-block;
    color: #f5d0cb;
    padding-left: 10px;
}

.settings-button {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}

.setting-button-bar-top, .setting-button-bar-middle, .setting-button-bar-bottom {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.change .setting-button-bar-top {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .setting-button-bar-middle {
    opacity: 0;
}

.change .setting-button-bar-bottom {
    transform: rotate(45deg) translate(-8px, -8px);
}


#coral-cam-video-feed {
    width: 1276px;
    height: 718px;
    border-top: 1px solid #53bfc1;
}

.setting-menu {
    width: 1276px;
    height: 100px;
    background: #f5d0cb;
    border-top: 1px solid #53bfc1;
}

#inference-submit-button {
    margin-left: 10px;
    margin-top: 5px;
    height: 22px;
    width: 75px;
    background: #fd5e4d;
    text-align: center;
    color: #ffffff;
}

#inference-submit-button:hover {
    background: #fd854a !important;
}

.edgetpu-switch {
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fd5e4d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fd5e4d;
}

input:checked + .slider:before {
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#log-console {
    border: 2px solid #fd5e4d;
    margin: 0 5px 0 5px;
    background-color: #000000;
    height: 100px;
    width: 1262px;
    resize: none;
    color: #fd5e4d;
}